@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'customfont';
  src: url('.../../images/customfont.ttf') format('truetype');
}


* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}


.gradient-bg-footer {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, rgb(0, 0, 0) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(0, 0, 0) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(0, 0, 0) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
    /* position: relative; */
}

.eth-card .react-folder-icon {
  position: absolute;
  top: 50%; /* Positions the icon vertically in the center */
  left: 50%; /* Positions the icon horizontally in the center */
  width: 90px; /* Adjust the width of the icon image as needed */
  height: 80px; /* Adjust the height of the icon image as needed */
  transform: translate(-50%, -50%); /* Centers the icon precisely */
}

.text-gradient {
  background-color: #fff;
  background-image: linear-gradient(68deg, rgba(31,164,233,1) 18%, rgba(139,86,230,1) 38%, rgba(173,81,219,1) 65%, rgba(226,103,211,1) 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 7px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.1); /* Black with 10% transparency */
  backdrop-filter: blur(10px); /* Apply glassmorphism effect */
  margin-top: 50px;
}



.header {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}

/* Color changes */

.container,
.header p,
.footer {
  color: #ffffff;
}

.footer svg {
  fill: #ffffff;
  background-color: rgba(70, 66, 66, 0.103);
}



.footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}

.custom-font {
  font-family: 'customfont', sans-serif;
}

/* loader animation */
.spinner {
  width: 40px;
  height: 40px;
  --clr: #cbcbcb; /* White color */
  --clr-alpha-start: rgba(247, 197, 159, 0); /* Transparent start color */
  --clr-alpha-end: rgba(95, 95, 95, 0.8); /* Transparent end color */
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background: linear-gradient(to bottom, var(--clr-alpha-start), var(--clr-alpha-end));
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-20px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(20px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* services gif section */
.gifcontainer {
  position: relative;
  font-family: sans-serif;
}

.gifcontainer::before, .container::after {
  content: "";
  background-color: #f0eae44c;
  position: absolute;
}

.gifcontainer::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.gifcontainer::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.gifcontainer .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.21);
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  transition: all ease .3s;
}

.gifcontainer .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gifcontainer .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .1em
}

.gifcontainer .box div strong {
  display: block;
  margin-bottom: .5rem;
}

.gifcontainer .box div p {
  margin: 0;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.gifcontainer .box div span {
  font-size: .7rem;
  font-weight: 300;
}

.gifcontainer .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: .2rem;
}

.gifcontainer .box:hover {
  box-shadow: 0px 0px 20px 1px #f3f1f0a0;
  border: 1px solid rgba(244, 244, 244, 0.454);
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;